/* footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: var(--bg);
  margin: 0.5rem;
}

footer .social :hover {
  color: #000000;
}

footer .links {
  margin-bottom: 1rem;
}
footer .links a {
  color: var(--bg);
  padding: 0.7rem 1rem;
}

footer .links :hover {
  color: #000000;
}
