/* news */

.news h4 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: #479c95;
}

.news p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
}
